## Code for Importing and Converting Forest Treatment Data from dbf to csv
### By: Katie Murenbeeld
### Date: 25 Sept 2018

This code employs the library 'simpledbf' to convert dbf files to csv files.

You will need to install simpledbf to use (eg. pip install simpledbf).

In [25]:
import simpledbf # Import the simpledbf library
from simpledbf import Dbf5 # From the library import Dbf5

In [12]:
dbfTSI = Dbf5('S_USA_Activity_SilvTSI.dbf', codec='utf-8') # Import the dbf and assign the code

In [13]:
dbfTSI.to_csv('USA_STSI_TRT.csv') # Covert to csv

In [14]:
SilvTSI = pd.read_csv('USA_STSI_TRT.csv') # Assign new csv to new dataframe

/Users/kathrynmurenbeeld/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,3,5,6,7,10,12,15,17,21,22,23,25,28,29,31,37,39,44,45,49,50,51,53,56,58,61,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
SilvTSI.iloc[:,10:25].head(10) # Sanity check of data

,SUBUNIT,SALE_NAME,ACTIVITY_C,ACTIVITY_N,ACTIVITY_1,NBR_UNITS_,UOM,NBR_UNITS1,DATE_PLANN,DATE_ACCOM,DATE_COMPL,FY_PLANNED,FY_ACCOMPL,FY_COMPLET,FUND_CODES
0,000,NaN,4511,Tree Release and Weed,AC7803001033410334,6,ACRES,6,1996-03-01,1996-09-01,1996-09-01,1996,1996,1996,NFVW
1,000,NaN,4521,Precommercial Thin,AC1031201043410434,44,ACRES,44,1978-06-01,1978-06-01,1978-06-01,1978,1978,1978,NFVW
2,000,NaN,4521,Precommercial Thin,AC1197777010602,10,ACRES,10,2006-08-16,2006-08-16,2006-08-16,2006,2006,2006,WFHF
3,000,NaN,4521,Precommercial Thin,4376179010602,52,ACRES,52,2013-10-01,2014-05-18,2014-05-18,2014,2014,2014,NFTM
4,000,PORI JACK,4511,Tree Release and Weed,AC7891201033410334,35,ACRES,35,2003-03-01,2003-09-01,2003-09-01,2003,2003,2003,NFVW
5,000,POWELL SBA,4521,Precommercial Thin,2651537010602,7,ACRES,7,2014-10-01,2016-03-24,NaN,2015,2016,0,WFHF
6,000,LEGACY MIGRATION SALE,4521,Precommercial Thin,AC541401043410434,13,ACRES,13,1989-05-01,1989-05-01,1989-05-01,1989,1989,1989,CWKV
7,002,JUNCTION SHADOW,4511,Tree Release and Weed,3922466010602,25,ACRES,25,2014-06-01,2014-06-01,2014-06-01,2014,2014,2014,NFVW
8,000,NaN,4521,Precommercial Thin,3453242010602,15,ACRES,15,2014-10-01,2016-03-24,NaN,2015,2016,0,WFHF
9,000,BISCUITROOT,4521,Precommercial Thin,AC177930010602,28,ACRES,25,1996-09-03,2001-07-01,2001-07-01,1996,2001,2001,WFHF

In [17]:
dbfTH = Dbf5('S_USA_Activity_TimberHarvest.dbf',codec='utf-8')
dbfTH.to_csv('USA_TH_TRT.csv')
TH=pd.read_csv('USA_TH_TRT.csv')
TH.iloc[:,10:25].head(10)

,SUBUNIT,SUBUNIT_CN,SUBUNIT_NA,SUBUNIT_SI,SALE_NAME,UNIT_ID,ACTIVITY_C,ACTIVITY_1,ACTIVITY_2,ACTIVITY_N,TREATMENT_,NBR_UNITS_,UOM,NBR_UNITS1,DATE_PLANN
0,000,20565010467,2311 BIG JUNIPER,81.0,2311 BIG JUNIPER,NaN,AU412693010467,AU412693010467,4113,Stand Clearcut (EA/RH/FH),Stand Clearcutting(E,81.0,ACRES,81.0,1970-01-01
1,000,746886010602,LUNCH 074,93.0,LUNCH SBA,NaN,2963070010602,2963070010602,4220,Commercial Thin,Commercial Thinning,93.0,ACRES,93.0,2011-04-15
2,000,38418010304,NaN,14.0,NaN,NaN,AU79448010304,AU79448010304,4113,Stand Clearcut (EA/RH/FH),Stand Clearcutting(E,14.0,ACRES,14.0,1986-03-01
3,000,2211010444,UPWFWR 5 TSI,30.0,TRIPLE CREEK,41,AU10137010444,AU10137010444,4143,Overstory Removal Cut (from advanced regenerat...,Overstory removal cu,30.0,ACRES,30.0,1969-09-01
4,000,2211010444,UPWFWR 5 TSI,34.0,SHEEP WEISER,2,AU10137010444,AU10137010444,4113,Stand Clearcut (EA/RH/FH),Stand Clearcutting(E,34.0,ACRES,34.0,1985-09-01
5,000,463010456,NaN,41.0,SONNY MEADOW SOUTH,NaN,AU224771010356,AU224771010356,4220,Commercial Thin,Commercial Thinning,41.0,ACRES,41.0,2006-11-16
6,000,463010456,NaN,0.0,NaN,NaN,AU224771010356,AU224771010356,4220,Commercial Thin,Commercial Thinning,41.0,ACRES,0.0,2020-09-01
7,000,463010456,NaN,0.0,NaN,NaN,AU224771010356,AU224771010356,4220,Commercial Thin,Commercial Thinning,32.0,ACRES,0.0,1980-06-15
8,0V0,772280010602,NaN,0.5,IVY CK SALV #2,12,3081314010602,3081314010602,4113,Stand Clearcut (EA/RH/FH),Stand Clearcutting(E,0.5,ACRES,0.5,1966-01-01
9,000,37180010344,TSMRS LEGACY STAND,40.0,NaN,NaN,AU96724010344,AU96724010344,4113,Stand Clearcut (EA/RH/FH),Stand Clearcutting(E,40.0,ACRES,40.0,1966-10-01

In [19]:
TH.iloc[:,20:30].head(10)

,TREATMENT_,NBR_UNITS_,UOM,NBR_UNITS1,DATE_PLANN,DATE_ACCOM,DATE_COMPL,FY_PLANNED,FY_ACCOMPL,FY_COMPLET
0,Stand Clearcutting(E,81.0,ACRES,81.0,1970-01-01,1972-09-17,1972-09-17,1970,1972.0,1972.0
1,Commercial Thinning,93.0,ACRES,93.0,2011-04-15,2011-09-15,2014-09-15,2011,2011.0,2014.0
2,Stand Clearcutting(E,14.0,ACRES,14.0,1986-03-01,1986-09-01,1986-09-01,1986,1986.0,1986.0
3,Overstory removal cu,30.0,ACRES,30.0,1969-09-01,1969-09-01,1969-09-01,1969,1969.0,1969.0
4,Stand Clearcutting(E,34.0,ACRES,34.0,1985-09-01,1985-09-01,1985-09-01,1985,1985.0,1985.0
5,Commercial Thinning,41.0,ACRES,41.0,2006-11-16,2006-11-16,2010-09-01,2007,2007.0,2010.0
6,Commercial Thinning,41.0,ACRES,0.0,2020-09-01,NaN,NaN,2020,NaN,NaN
7,Commercial Thinning,32.0,ACRES,0.0,1980-06-15,NaN,NaN,1980,NaN,NaN
8,Stand Clearcutting(E,0.5,ACRES,0.5,1966-01-01,1966-01-01,1966-01-01,1966,1966.0,1966.0
9,Stand Clearcutting(E,40.0,ACRES,40.0,1966-10-01,1966-10-01,1966-10-01,1967,1967.0,1967.0

In [21]:
dbfHF = Dbf5('S_USA_Activity_HazFuelTrt_PL.dbf',codec='utf-8')
dbfHF.to_csv('USA_HF_TRT.csv')
HF=pd.read_csv('USA_HF_TRT.csv')
HF.iloc[:,0:10].head(10)

/Users/kathrynmurenbeeld/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,5,7,8,9,12,13,14,15,16,17,21,22,27,28,29,30,31,33,34,35,41,42,43,52,53,60,61,62,63,64,65,66,67,68,69,70,71,72,75,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SUID,ORG,ACTIVITY_C,ACTIVITY,LOCAL_QUAL,ASU_NBR_UN,ASU_UOM,ADMIN_REGI,ADMIN_FORE,ADMIN_DIST
0,011001A110100082000,11001,4193,Two-aged Shelterwood Establishment and Removal...,NaN,43,ACRES,1,10,1
1,011001A110100082000,11001,4455,Slashing - Pre-Site Preparation,NaN,43,ACRES,1,10,1
2,011404A520100206000,11404,4220,Commercial Thin,NaN,79,ACRES,1,14,4
3,011407A140200007000,11407,4521,Precommercial Thin,NaN,4,ACRES,1,14,7
4,011407A140200007000,11407,4530,Prune,DISEASE CONTROL,4,ACRES,1,14,7
5,011404A520100209000,11404,4183,Two-aged Seed-tree Seed and Removal Cut (w/res...,NaN,45,ACRES,1,14,4
6,011204A300400022002,11204,1153,"Piling of Fuels, Hand or Machine",AF-HAND PILING,65,ACRES,1,12,4
7,011204A300400022002,11204,4152,Group Selection Cut (UA/RH/FH),NaN,65,ACRES,1,12,4
8,011204A300400022002,11204,1130,Burning of Piled Material,AF-HAND PILES,65,ACRES,1,12,4
9,011201A240100310000,11201,4511,Tree Release and Weed,NaN,17,ACRES,1,12,1

In [22]:
dbfIRR = Dbf5('S_USA_Activity_IRR_PL.dbf',codec='utf-8')
dbfIRR.to_csv('USA_IRR_TRT.csv')
IRR=pd.read_csv('USA_IRR_TRT.csv')
IRR.iloc[:,10:25].head(10)

,FY_PLANNED,FY_ACCOMPL,FY_COMPLET,ACTIVITY_U,REGION_COD,ADMIN_FORE,DISTRICT_C,HOME_ORG,ADMIN_FO_1,ADMIN_DIST,PROCLAIMED,OWNERSHIP_,OWNERSHIP1,STATE_ABBR,WATERSHED_
0,2013,2015,2015.0,11607,1,16,7,11607,Lolo National Forest,Superior Ranger District,116,FS,USDA FOREST SERVICE,MT,NaN
1,2013,2013,2013.0,11605,1,16,5,11605,Lolo National Forest,Plains/Thompson Falls Ranger District,116,FS,USDA FOREST SERVICE,MT,NaN
2,2017,2017,2017.0,10202,1,2,2,10202,Beaverhead-Deerlodge National Forest,Wise River Ranger District,102,FS,USDA FOREST SERVICE,MT,1.002000e+11
3,2013,2015,2015.0,11607,1,16,7,11607,Lolo National Forest,Superior Ranger District,116,FS,USDA FOREST SERVICE,MT,NaN
4,2014,2014,2014.0,11605,1,16,5,11605,Lolo National Forest,Plains/Thompson Falls Ranger District,116,FS,USDA FOREST SERVICE,MT,NaN
5,2013,2015,2015.0,11607,1,16,7,11607,Lolo National Forest,Superior Ranger District,116,FS,USDA FOREST SERVICE,MT,NaN
6,2014,2014,2014.0,10202,1,2,2,10202,Beaverhead-Deerlodge National Forest,Wise River Ranger District,102,FS,USDA FOREST SERVICE,MT,1.002000e+11
7,2016,2016,2016.0,10202,1,2,2,10202,Beaverhead-Deerlodge National Forest,Wise River Ranger District,102,FS,USDA FOREST SERVICE,MT,1.002000e+11
8,2012,2012,2012.0,11401,1,14,1,11401,Kootenai National Forest,Rexford Ranger District,114,FS,USDA FOREST SERVICE,MT,NaN
9,2015,2015,2015.0,11605,1,16,5,11605,Lolo National Forest,Plains/Thompson Falls Ranger District,116,FS,USDA FOREST SERVICE,MT,NaN

In [24]:
dbfSRF = Dbf5('S_USA_Activity_SilvReforestation.dbf',codec='utf-8')
dbfSRF.to_csv('USA_SRF_TRT.csv')
SRF=pd.read_csv('USA_SRF_TRT.csv')
SRF.iloc[:,10:25].head(10)

/Users/kathrynmurenbeeld/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SUBUNIT,SALE_NAME,ACTIVITY_C,ACTIVITY_N,ACTIVITY_1,NBR_UNITS_,UOM,NBR_UNITS1,DATE_PLANN,DATE_ACCOM,DATE_COMPL,FY_PLANNED,FY_ACCOMPL,FY_COMPLET,FUND_CODES
0,000,DUNHAM,4493,Site Preparation for Natural Regeneration - Other,AC170001033410334,40.0,ACRES,40.0,2003-09-01,2003-09-01,2003-09-01,2003,2003,2003,CWKV
1,000,DUMMY SALE FOR KV/BD,4382,Certification of Natural Regeneration without ...,AC104842201026410264,30.0,ACRES,30.0,1973-10-01,1973-10-01,1973-10-01,1974,1974,1974,CWKV
2,000,NaN,4493,Site Preparation for Natural Regeneration - Other,AC7747801033410334,10.0,ACRES,10.0,1989-03-01,1989-09-01,1989-09-01,1989,1989,1989,NFTM
3,000,NaN,4382,Certification of Natural Regeneration without ...,AC5067701033410334,16.0,ACRES,16.0,1987-03-01,1987-09-01,1987-09-01,1987,1987,1987,NFVW
4,000,NaN,4493,Site Preparation for Natural Regeneration - Other,AC2935401043610436,25.0,ACRES,25.0,1987-03-01,1987-09-01,1987-09-01,1987,1987,1987,NFVW
5,000,NaN,4382,Certification of Natural Regeneration without ...,3478849010602,97.0,ACRES,97.0,2012-02-10,2012-02-10,2012-02-10,2012,2012,2012,NFRR
6,000,NaN,4493,Site Preparation for Natural Regeneration - Other,AC5661901043610436,29.0,ACRES,29.0,1991-03-01,1991-09-01,1991-09-01,1991,1991,1991,NFVW
7,000,HUCKLEBERRY_PC,4491,Site Preparation for Natural Regeneration - Bu...,AC90111601026410264,19.0,ACRES,19.0,1992-08-01,1992-08-01,1992-08-01,1992,1992,1992,CWKV
8,000,LEGACY MIGRATION SALE,4431,Plant Trees,AC1842987010602,10.0,ACRES,10.0,1993-05-29,1993-05-29,1993-05-29,1993,1993,1993,CWKV
9,002,NaN,4431,Plant Trees,AC2021129010602,18.0,ACRES,18.0,2010-03-11,2010-03-11,2010-06-02,2010,2010,2010,NFN3